/* Footer */
.footer {
  background: #111;
  color: #aaa;
  padding: 80px 0 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.footer-links {
    display: flex;
    flex-basis: 70%;
    gap: 25%;
}

.footer-links h4 {
  color: white;
  margin-bottom: 20px;
}

.footer-links a {
  display: block;
  color: #aaa;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #00d4aa;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #333;
  color: #777;
}