/* Light theme variables */
:root {
  --background: #ECEEF2;
  --secondary-background: #FDFFFF;
  --whiter-color: #fff;
  --primary-color: #17A049;
  --third-color: #2a3037de;
  --secondary-color: #018559;
  --secondary-deep-color: #015c3e;
  --accent: #00e297;
  --icons-color: #00c281;
  --dark-green: green;
  --badge-color: #026aaf;
  --blue-font: #0134a1;
  --font-blue: #0134a1;
  --blue-color: blue;
  --softer-black: #2e2e2e;
  --softer-gray: #474747;

  font-family: 'Poppins', sans-serif;
  --box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}