* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html body {
  font-family: "poppins";
  line-height: 1.6;
  color: #2d2d2d;
  background-color: #ffffff;
}

.link-main {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link-blue {
  color: blue;
  cursor: pointer;
}